@import '../../scss/mixins';

.MuiGrid-container {
  padding-right: 2%;
  z-index: 99;
  padding-bottom: 30px;
}

.dashboardnavbar-wrapper {
  @include default-divider;
}

.dashboard {
  height: 100%;

  .card-wrapper {
    @include default-divider;
    justify-content: space-between;
    padding-bottom: 3%;

    &__first {
      padding-bottom: 10%;
    }
  }

  &-left {
    padding: 0 15px 0 15px;
  }
  &-right {
    padding: 0 15px 0 15px;
  }
}
