@import '../../scss/variables';
@import '../../scss/mixins';

.header {
  height: $header-height;
  @include default-divider;
  justify-content: space-between;
  
  .dashboard-text {
    left: 24%;
    top: 3%;
    color: white;
    position: absolute;
    font-size: 32px;
  }

  &-right {
    @include default-divider;
    flex-direction: row;
    justify-content:space-around;
    width: 20%;
  }
}

.logo {
  position: absolute;
  left: 8%;
  top: 4%;
}
